<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- IRC Server Connection Details -->
    <add key="IRC_Server_Address" value="irc.cultofjefe.com"/>
    <add key="IRC_Server_Port" value="6667"/>
    <add key="IRC_Server_Password" value=""/>

    <!-- Bot Properties -->
    <add key="Bot_Nick" value="Botler"/>
    <add key="Bot_Ident_Password" value=""/>
    <add key="Bot_Command_Symbol" value="."/>
    <add key="Bot_Operator" value="jefe"/>

    <!-- Proxy Connection Details -->
    <add key="Proxy" value="false"/>
    <add key="Proxy_Address" value=""/>
    <add key="Proxy_Port" value=""/>
    <add key="Proxy_Type" value=""/>
    <add key="Proxy_User" value=""/>
    <add key="Proxy_Password" value=""/>
  </appSettings>
</configuration>